<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <h4>Jon Bonso</h4>

</div>

<div>

    <div>
        <h3>Autocomplete using an observable and with dropdown initially shown</h3>
        <tag-input [ngModel]="items" [onlyFromAutocomplete]="true">
            <tag-input-dropdown 
                    [showDropdownIfEmpty]="true"
                    [autocompleteObservable]="requestAutocompleteItemsFake">
            </tag-input-dropdown>
        </tag-input>
    </div>

    <div>
        <h3>Autocomplete with a value of what was last entered</h3>
        <tag-input [ngModel]="[]"
                   [placeholder]="'Enter a new repository'"
                   [secondaryPlaceholder]="'Search in Github'"
                   [onlyFromAutocomplete]="true">
            <tag-input-dropdown [autocompleteObservable]="requestAutocompleteItems">
                <ng-template let-item="item" let-index="index" let-last="last">
                    {{ item.value }} # {{ last }}
                </ng-template>
            </tag-input-dropdown>
        </tag-input>
    </div>


    <div>
        <h3>Autocomplete component with Tags (City Search)</h3>
        <tag-input [ngModel]="['@Manila']"
                   [addOnBlur]="true"
                   [clearOnBlur]="true">
            <tag-input-dropdown [autocompleteItems]="autocompleteItems">
            </tag-input-dropdown>
        </tag-input>
    </div>

    <div>
        <h3>Restricted Autocomplete from a provided set only (Country Selection)</h3>
        <tag-input [ngModel]="['@Default Country']"
                   [onlyFromAutocomplete]="true">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [focusFirstElement]="true"
                                [displayBy]="'value'"
                                [identifyBy]="'id'"
                                [autocompleteItems]="autocompleteItemsAsObjects">
                <ng-template let-item="item" let-index="index">
                    {{ item.value }}
                </ng-template>
            </tag-input-dropdown>
        </tag-input>
    </div>

    <div>
        <h3>Autocomplete with options data provided from an API</h3>
        <tag-input [ngModel]="[]"
                   [placeholder]="'Enter a new repo'"
                   [onTextChangeDebounce]="500"
                   [secondaryPlaceholder]="'Search Github Repos'"
                   [onlyFromAutocomplete]="true">
            <tag-input-dropdown
                    [autocompleteObservable]="requestAutocompleteItems">
                <ng-template let-item="item" let-index="index">
                    {{ item.display }}
                </ng-template>
            </tag-input-dropdown>
        </tag-input>
    </div>

</div>
